{% extends 'base.html' %}

{% block containerid %}"about"{% endblock containerid %}

{% block content %}
  <div id ="aboutimg">
      <div id="abouttitle">
          Climate Change
      </div>
  </div>
  <div id ="abouttxt">
    Despite urgent warnings from scientific communities, climate change is still a low priority for many citizens of the world.<br /><br />
    Large corporations and business executives make decisions based on what suits their bank account, not on what benefits future generations.<br /><br />
    <div id="continue">Continue.</div>
  </div>
  <div id="abouttxt2">
    The last manifesto serves as a platform for taking on the fight against climate change. <br /><br />We call upon the younger generations and the future generations to unite and stand together in this battle, for they are the ones who will have to suffer the consequences.
    <div id="continue2">Continue.</div>
  </div>
  <div id ="aboutimg2">
    <div id="abouttitle2">
        By students<br />
        for students.
    </div>
  </div>
<div id ="aboutimg3">
    <div id="abouttitle">
        Climate Change
    </div>
</div>
<div id ="abouttxt3">
  Despite urgent warnings from scientific communities, climate change is still a low priority for many citizens of the world.<br /><br />
  Large corporations and business executives make decisions based on what suits their bank account, not on what benefits future generations.<br /><br />
  <div id="sign-up">Sign up.</div>
</div>

{% endblock %}
