{% extends 'base.html' %}

{% block sitebox%}
{% block content %}
    <div class="container-fluid">
      <div id="landing-text">
        <h1 id="intro">
          the last manifesto
        </h1>
        <h2 id="intro2">
          A collective last effort to save the earth.
        </h2>
        <h3 id="intro3">
          <a href="{% url 'about' %}">Learn more.</a>
        </h3>
        <h3 id="intro3">
          <a href="#join">Log in.</a>
        </h3>
        <h3 id="intro3">

          <a href="#join">Who are we?</a>
        </h3>

      </div>

    </div>
{% endblock content%}
{%endblock sitebox%}
